[color]
	ui = true
[user]
	name = Joe Pinsonault
	email = joe.pinsonanult@puppetlabs.com
[alias]
	# Log with graph
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	# List commits in short form
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	# List commits showing changed files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	# List with no colors
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	# List oneline commits showing dates
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	# List oneline commits showing relative dates
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	# Show modified files in last commit
	dl = "!git ll -1"
	# Show a diff from last commit 
	dlc = diff --cached HEAD^
	# Find a file path
	f = "!git ls-files | grep -i"
	# Grep 
	grep = grep -Ii
	# List all aliases
	la = "!git config -l | grep alias | cut -c 7-"
	s = status
	b = branch
